html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }


h2{
	margin-left: 60px;
 color:black;
 font: bold 20px verdana;
 padding: 5px 10px 5px 10px;


}

#contenido{

	width: 90%;
	margin: 15px auto;
	border-top: 5px dashed gray;
	



}

figure figcaption{
margin: 10px;
text-align: center;

}


#titulo{

	font: bold 20px verdana ;
	color: white;
	text-shadow: gray 3px 3px 10px;
}

#principal{

	width: 500px;
	text-align: center;
	margin: 15px auto;
	margin-top: 50px;
	padding: 15px;
	border: 3px solid black;
	box-shadow: gray 5px 5px 20px;  
	border-radius: 80px;
	background: -moz-linear-gradient(top, #00f, #3ff);
	background: -webkit-linear-gradient(top, blue, cyan);
	background: -ms-linear-gradient(top, blue, cyan);
	background: -o-linear-gradient(top, blue, cyan);



}

figure{



	float: left;
}

figure img{
	border-radius: 40px;
	padding: 5px;
	box-shadow: gray 5px 5px 10px;
	-webkit-transition: -webkit-transform 0.2s ease-in-out 0.1s;

}

figure img:hover{

	-webkit-transform:scale(1.1);

}

footer{
	padding-top: 200px;
	margin: 20px;
	text-align: center;
	clear: both;
}
footer p{

	font:1.6em Georgia   ;
	color: gray;
	margin: 10px 8px;
}
